@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';

body {
   font-family: 'Inter', sans-serif;
}

#reader {
   border: none !important;
   border-radius: 16px;
   overflow: hidden;
}

#reader video {
   border-radius: 16px;
}

#reader__dashboard {
   border: none !important;
   padding-top: 16px;
}

#reader__dashboard_section button {
   background: #4f46e5 !important;
   color: white !important;
   border: none !important;
   padding: 10px 18px !important;
   border-radius: 8px !important;
   font-weight: 600;
}

#reader__dashboard_section_swaplink {
   display: none !important;
}

#reader__filescan_input {
   display: none !important;
}